name: Rust

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy, rustfmt

    - name: Check formatting
      run: cargo fmt -p filmr -- --check && cargo fmt -p filmr_app -- --check

    - name: Build
      run: cargo build -p filmr --verbose --all-features --all-targets && cargo build -p filmr_app --verbose --all-features --all-targets

    - name: Run tests
      run: cargo test -p filmr --verbose --all-features --all-targets && cargo test -p filmr_app --verbose --all-features --all-targets

    - name: Clippy
      run: cargo clippy -p filmr --all-features --all-targets -- -D warnings && cargo clippy -p filmr_app --all-features --all-targets -- -D warnings
